body {
  font-family: ReithSans, Arial, Helvetica, freesans, sans-serif;
}
p1 {
  color: rgb(34, 34, 34);
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

ul {
  list-style: none;
}

.container {
  width: 600px;
}
.today {
  padding-top: 16px;
}

.widget-wrapper {
  padding: 20px;
  margin-left: 20px;
}

.icon-now {
  font-size: 64px;
  padding-left: 20px;
}

.temp-now {
  color: rgb(34, 34, 34);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.vertical {
  border-left: 1px solid black;
  height: 70px;
  position: absolute;
  margin-top: 50px;
  left: 30%;
}

.text {
  color: rgb(34, 34, 34);
  font-size: 14px;
  font-weight: 100;
  padding-top: 15px;
}

.day {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  font-weight: 400;
}

.all-else {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  font-weight: 400;
}

.future-wx {
  font-size: 32px;
  margin-left: -5px;
}
