body {
  font-family: ReithSans, Arial, Helvetica, freesans, sans-serif;
  background-color: #f7f2ef;
}

p1 {
  color: rgb(34, 34, 34);
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

ul {
  list-style: none;
}

.container {
  width: 600px;
  margin: 0 auto;
  margin-top: 30px;
}

.card {
  background-color: #f3e9de;
  border-color: #a5835e;
}

.today {
  padding-top: 16px;
}

.widget-wrapper {
  padding: 20px;
  margin-left: 20px;
}

.wxIcon {
  margin-left: -20px;
}

.temp-now {
  color: rgb(34, 34, 34);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.units {
  font-size: 10px;
  padding-left: 5px;
  position: relative;
  top: -6px;
}

.vertical {
  border-left: 1px solid black;
  height: 70px;
  position: absolute;
  margin-top: 50px;
  left: 30%;
}

.text {
  color: rgb(34, 34, 34);
  font-size: 14px;
  font-weight: 100;
  padding-top: 15px;
}

#wxDescription {
  text-transform: capitalize;
}

.day {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  font-weight: 400;
}

.all-else {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  font-weight: 400;
}

.future-wx {
  margin-left: -15px;
  margin-top: -10px;
}

.future-high {
  font-weight: 600;
}
